/*******************************
            Global
*******************************/

html {
  font-size: 14px;
}

#aprender p{
  text-align: justify;
}
/*******************************
            Global
*******************************/

#home .menu .right.menu > .mobile.item {
  display: none;
}

/*--------------
    Masthead
---------------*/

#home .masthead {
  background-image: url(images/bg.jpg);
  height: 450px;
  margin: 3rem 0 0 0;
}
#home .masthead p {
  text-align: justify;  
}

#home .masthead .column {
  position: relative;
}
#home .masthead .information {
  margin: 10em 1em 1em 350px;
}
#home .masthead .information p {
  max-width: 600px;
}
#home .masthead .image {
  position: absolute;
  left: 0%;
  bottom: -20px ;
}

/*--------------
    header
---------------*/
#header {
  z-index: 1;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  height: 90px;
  top: 0;
  border-bottom: 3px solid;
  border-color: #3b83c0; 
}
nav {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
#header img {
  display: inline-block;
  left: 0;
  width: 45px;
  height: 45px; 
}
.list{
  display: inline-block;
  left: 65px;
}
nav > * {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  margin-left:-5px;
  margin-right:-5px;
}
.list ul{
}.list ul li{
  display: inline;
  margin-left: 0px;
  padding-left: 40px;
}.list ul li a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
.list a:hover{
  color: #666666;
  font-size: 16px;
}
.active {
  border-bottom: solid 3px;
    border-color: #3b83c0;
    padding-bottom: 3px,
  }

/*--------------
    Ribbons
---------------*/

#home .segment h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

#home .vertical.segment {
  padding: 6rem 0rem;
}

#home .feature.segment {
  margin: 0em;
  padding: 6rem 0rem;
}
#home .feature.segment p {
  min-height: 50px;
}

#home .selection.list {
  margin: 0em -0.5em;
}

#home .logo.row {
  height: 10rem;
}

/*--------------
    Footer
---------------*/

#home .footer.segment {
  background-color: #000000;
  padding: 3rem 0rem;
}


/*******************************
          Responsive
*******************************/

/* Mobile Only */
@media only screen and (max-width : 768px) {

  #home .menu .right.menu > .item {
    display: none;
  }

  #home .menu .right.menu > .mobile.item {
    display: block;
  }
  #home .menu .right.menu > .mobile.item .menu {
    left: auto;
    right: 0em;
  }

  #home h1 {
    font-size: 1.5em;
  }
  #home .masthead.segment .information {
    margin-left: 170px;
  }

  #home .masthead.segment .image {
    width: 170px;
  }

  #home .masthead.segment .button {
    font-size: 1rem;
  }

  #home .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  #home .overview .divided.grid .header + p {
    min-height: 0px;
  }

  #home .masthead.segment .column {
    font-size: 0.7rem;
  }

  #home .masthead.segment .column p {
    display: none;
  }

  #home .selection.list .right.floated {
    display: none;
  }
}